<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>result</title>
</head>
<body>	<% for(var i in results) { %>
	<div>name: <%= results[i].name %></div>
	<div>id: <%= i.id %></div>
	<div>email: <%= i.email %></div>
	<div>Password: <%= i.pwd %></div>
	<h1><%=i%></h1>
	<% } %>

</body>
</html>
